<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Principal de Aeneta</title>
</head>
<body>
    <h1>Bienvenido a Aeneta</h1>
    <p>Hola, {{ current_user.username }} ({{ current_user.role }})</p>
    <ul>
        <li><a href="{{ url_for('register_thesis') }}">Registrar Tesis</a></li>
        <li><a href="{{ url_for('list_theses') }}">Listar Tesis</a></li>
        <li><a href="{{ url_for('search_thesis') }}">Buscar Tesis</a></li>
        <li><a href="{{ url_for('register_egresado') }}">Registrar Egresado</a></li>
        <li><a href="{{ url_for('list_egresados') }}">Listar Egresados</a></li>
        <li><a href="{{ url_for('register_calendar') }}">Registrar Calendario de Convocatorias</a></li>
        <li><a href="{{ url_for('list_calendars') }}">Listar Calendarios de Convocatorias</a></li>
        <li><a href="{{ url_for('register_call') }}">Registrar Convocatoria de Titulación</a></li>
        <li><a href="{{ url_for('list_calls') }}">Listar Convocatorias de Titulación</a></li>
        <li><a href="{{ url_for('register_seminar') }}">Registrar Seminario</a></li>
        <li><a href="{{ url_for('list_seminars') }}">Listar Seminarios</a></li>
        <li><a href="{{ url_for('register_student') }}">Registrar Alumno</a></li>
        <li><a href="{{ url_for('list_students') }}">Listar Alumnos</a></li>
        <li><a href="{{ url_for('register_teacher') }}">Registrar Docente</a></li>
        <li><a href="{{ url_for('list_teachers') }}">Listar Docentes</a></li>
        <li><a href="{{ url_for('register_admin') }}">Registrar Personal Administrativo</a></li>
        <li><a href="{{ url_for('list_admins') }}">Listar Personal Administrativo</a></li>
        <li><a href="{{ url_for('register_sinodal') }}">Registrar Sinodal</a></li>
        <li><a href="{{ url_for('list_sinodales') }}">Listar Sinodales</a></li>
        <li><a href="{{ url_for('list_users') }}">Listar Usuarios</a></li>
        <li><a href="{{ url_for('delete_user', user_id=current_user.id) }}">Borrar Mi Usuario</a></li>
    </ul>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
