<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Tesis</title>
</head>
<body>
    <h1>Listar Tesis</h1>
    <ul>
        {% for thesis in theses %}
            <li>
                Tesis: {{ thesis.title }} - Autores: {{ thesis.authors }}
                {% if current_user.role == 'sinodal' %}
                    <a href="{{ url_for('calificar_tesis', thesis_id=thesis.id) }}">Calificar</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}">Volver a Inicio</a>
</body>
</html>
